$c1: rgb(243,229,171);
$c2: rgb(202,215,174);
$c3: rgb(162,202,178);
$c4: rgb(122,188,181);
$c5: rgb(40,161,188);
$c6: rgb(0,130,190);

$darkGrey: rgb(65,65,65);
$mediumGrey: rgb(80,80,80);
$lightGrey: rgb(100,100,100);
$veryLightGrey: rgb(200,200,200);

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: white;
}

.sidebar .nav-link:hover .icon,
.sidebar .nav-link.active .icon {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

[role="main"] {
  padding-top: 153px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 68px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: white;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  background-color: $veryLightGrey;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.card-columns {
  column-count: 4;
}

.nw{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


svg{margin-right: 5px;}

.codeBranch{
  color:$veryLightGrey;
  cursor: pointer;
  margin-right: .75rem;
}

.app{
  color: darken($c1, 10%);
}
.border-app{
  border: solid 1px;
  border-color: $c1;
}
.map{
  color:darken($c2, 10%);
}
.border-map{
  border: solid 1px;
  border-color:$c2;
}
.mapLayer{
  color:darken($c3, 10%);
}
.border-mapLayer{
  border: solid 1px;
  border-color:$c3;
}

.featureLayer{
  color:darken($c4, 10%);
}
.border-featureLayer{
  border: solid 1px;
  border-color: $c4;
}

.user{
  color:darken($c5, 10%);
}
.border-user{
  border-color: $c5;
}

td{
  padding: 2px;
}
.dialog .ccenter{
  margin:0 auto;
}

.dialog{  
  width: 70%;
  max-width: none !important;
}

.hundred{width: 250px;
padding: 10px 5px 5px 10px;
border-radius: .25rem;}

td .border-danger{
  width: 250px;
  padding: 7px;
  border-radius: .25rem;
  border: solid 1px;
  background-color: #f8d7da
}

.counterWrapper{
  margin-top: 2rem;
}

.counter{
  padding-left: 1rem;  
}

.large{
  line-height: 90%;
  font-size: 500%;
}

.transparent{
  color: rgba(0,0,0,0);
}

.bbadge{
  position: relative;
  left: -.25rem;
  top: 0.75rem;
  font-size: 70%;
  background-color: $veryLightGrey;
  
}

.bbadgeC{
  position: relative;
  margin-top: -1.2rem;
}

.linkButton{
  border: none !important;
  background-color: rgba(0,0,0,0) !important;
  padding: 0 !important;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

